NET "CLK_100MHz" LOC="V10";
NET "ENABLE" LOC="T10";
NET "CLR<0>" LOC="T7";
NET "CLR<1>" LOC="R7";
NET "CLR<2>" LOC="V6";
NET "CLR<3>" LOC="T6";
NET "CLR<4>" LOC="P8";
NET "CLR<5>" LOC="N7";
NET "CLR<6>" LOC="V7";
NET "CLR<7>" LOC="U7";