NET "CLK_100MHz" LOC="V10";
NET "Horizontal" LOC="N6";
NET "Vertical" LOC="P7";
NET "COLOR<0>" LOC="T7";
NET "COLOR<1>" LOC="R7";
NET "COLOR<2>" LOC="V6";
NET "COLOR<3>" LOC="T6";
NET "COLOR<4>" LOC="P8";
NET "COLOR<5>" LOC="N7";
NET "COLOR<6>" LOC="V7";
NET "COLOR<7>" LOC="U7";
NET "CLK1" LOC="U15";
NET "CLK2" LOC="V15";
NET "CLK_100MHz" CLOCK_DEDICATED_ROUTE = FALSE;